In [108]:
import pandas as pd
import matplotlib.pyplot as plt

W2W = pd.read_excel("fotw#950_web.xlsx")
wheel_csv = W2W.to_csv("fotw#950_web.csv", index="state", header=True)
well_to_whell = pd.read_csv('fotw#950_web.csv')
almost = well_to_whell.dropna()
almost
almost_there = almost.drop(['Unnamed: 0'], axis=1)
almost_there.columns
#almost_there.drop(['5'])

Index(['U.S. Department of Energy, Vehicle Technology Office', 'Unnamed: 1'], dtype='object')

In [109]:
new = almost_there.set_index('U.S. Department of Energy, Vehicle Technology Office')
almost_clean = new.drop(['State'])
almost_clean.columns
so_close = almost_clean.rename(columns={'Unnamed: 1': "Pounds of CO2 Equivalent"}) 
so_close.index

Index(['Vermont', 'Washington', 'Idaho', 'Maine', 'Oregon', 'New Hampshire',
       'South Dakota', 'New York', 'Connecticut', 'New Jersey', 'California',
       'South Carolina', 'Massachusetts', 'Virginia', 'Illinois',
       'Rhode Island', 'Mississippi', 'Alaska', 'Pennsylvania', 'Maryland',
       'North Carolina', 'District of Columbia', 'Tennessee', 'Louisiana',
       'Georgia', 'Nevada', 'Alabama', 'Florida', 'Arizona', 'Arkansas',
       'Texas', 'Minnesota', 'Oklahoma', 'Iowa', 'Kansas', 'Michigan',
       'Delaware', 'Montana', 'Nebraska', 'Wisconsin', 'Hawaii', 'Colorado',
       'Ohio', 'New Mexico', 'North Dakota', 'Missouri', 'Utah', 'Indiana',
       'Wyoming', 'Kentucky', 'West Virginia', 'EV National Average',
       'Gasoline Vehicle Average'],
      dtype='object', name='U.S. Department of Energy, Vehicle Technology Office')

In [110]:
new = almost_there.set_index('U.S. Department of Energy, Vehicle Technology Office')
almost_clean = new.drop(['State'])
almost_clean.columns
so_close = almost_clean.rename(columns={'Unnamed: 1': "Pounds of CO2 Equivalent"}) 
#so_close.rename(={'U.S. Department of Energy, Vehicle Technology Office':"States"})
so_close. index
state =['Vermont', 'Washington', 'Idaho', 'Maine', 'Oregon', 'New Hampshire',
       'South Dakota', 'New York', 'Connecticut', 'New Jersey', 'California',
       'South Carolina', 'Massachusetts', 'Virginia', 'Illinois',
       'Rhode Island', 'Mississippi', 'Alaska', 'Pennsylvania', 'Maryland',
       'North Carolina', 'District of Columbia', 'Tennessee', 'Louisiana',
       'Georgia', 'Nevada', 'Alabama', 'Florida', 'Arizona', 'Arkansas',
       'Texas', 'Minnesota', 'Oklahoma', 'Iowa', 'Kansas', 'Michigan',
       'Delaware', 'Montana', 'Nebraska', 'Wisconsin', 'Hawaii', 'Colorado',
       'Ohio', 'New Mexico', 'North Dakota', 'Missouri', 'Utah', 'Indiana',
       'Wyoming', 'Kentucky', 'West Virginia', 'EV National Average',
       'Gasoline Vehicle Average']

CO2 =[ 0,987,1179,1559,1644,1886,1941,2112,2336,2529,2706,3090,3803,3931,4003,4122,4140,4182,4278,4378,4395,4540,4563,4588
,4643,4689,4815,4830,4845,5059,5086,5142,5271,5440,5444,5520,5654,5670,6108,6443,6696,6936,6958,7446,7470,8328,8362
,8682,8823,8965,9451,4815]

data = {'State': ['Vermont', 'Washington', 'Idaho', 'Maine', 'Oregon', 'New Hampshire',
       'South Dakota', 'New York', 'Connecticut', 'New Jersey', 'California',
       'South Carolina', 'Massachusetts', 'Virginia', 'Illinois',
       'Rhode Island', 'Mississippi', 'Alaska', 'Pennsylvania', 'Maryland',
       'North Carolina', 'District of Columbia', 'Tennessee', 'Louisiana',
       'Georgia', 'Nevada', 'Alabama', 'Florida', 'Arizona', 'Arkansas',
       'Texas', 'Minnesota', 'Oklahoma', 'Iowa', 'Kansas', 'Michigan',
       'Delaware', 'Montana', 'Nebraska', 'Wisconsin', 'Hawaii', 'Colorado',
       'Ohio', 'New Mexico', 'North Dakota', 'Missouri', 'Utah', 'Indiana',
       'Wyoming', 'Kentucky', 'West Virginia', 'EV National Average',
       'Gasoline Vehicle Average'],
       'Pounds of CO2 Equivalent':[ 0,987,1179,1559,1644,1886,1941,2112,2336,2529,2706,3090,3803,3931,4003,4122,4140,4182,4278,4378,4395,4540,4563,4588
        ,4643,4689,4815,4830,4845,5059,5086,5142,5271,5440,5444,5520,5654,5670,6108,6443,6696,6936,6958,7446,7470,8328,8362
        ,8682,8823,8965,9451,4815,11435]}


clean = pd.DataFrame(data)
clean

                       State  Pounds of CO2 Equivalent
0                    Vermont                         0
1                 Washington                       987
2                      Idaho                      1179
3                      Maine                      1559
4                     Oregon                      1644
5              New Hampshire                      1886
6               South Dakota                      1941
7                   New York                      2112
8                Connecticut                      2336
9                 New Jersey                      2529
10                California                      2706
11            South Carolina                      3090
12             Massachusetts                      3803
13                  Virginia                      3931
14                  Illinois                      4003
15              Rhode Island                      4122
16               Mississippi                      4140
17                    Alaska                      4182
18              Pennsylvania                      4278
19                  Maryland                      4378
20            North Carolina                      4395
21      District of Columbia                      4540
22                 Tennessee                      4563
23                 Louisiana                      4588
24                   Georgia                      4643
25                    Nevada                      4689
26                   Alabama                      4815
27                   Florida                      4830
28                   Arizona                      4845
29                  Arkansas                      5059
30                     Texas                      5086
31                 Minnesota                      5142
32                  Oklahoma                      5271
33                      Iowa                      5440
34                    Kansas                      5444
35                  Michigan                      5520
36                  Delaware                      5654
37                   Montana                      5670
38                  Nebraska                      6108
39                 Wisconsin                      6443
40                    Hawaii                      6696
41                  Colorado                      6936
42                      Ohio                      6958
43                New Mexico                      7446
44              North Dakota                      7470
45                  Missouri                      8328
46                      Utah                      8362
47                   Indiana                      8682
48                   Wyoming                      8823
49                  Kentucky                      8965
50             West Virginia                      9451
51       EV National Average                      4815
52  Gasoline Vehicle Average                     11435